.lb{
  
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzSKhbfxuVmaDRdUUgdsXKKuoBnFXKMIMdzA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .bird1{
      border-style: solid;
      height: 100px;
      background-image: url("images/headimage.png");
      
  }
  .location{
      width: 200px;
      position: relative;
      top:-80px;
      left:440px;   
     
  }
  
  .Search{
      width: 200px;
      position: relative;
    top:-145px;
      left:840px;
  }
  .Search:hover{
      -webkit-text-fill-color:blue;
  }
  .location:hover{
      -webkit-text-fill-color: blue;
  }
  .sp1{
      width: 100px;
      
      position: relative;
      top:-200px;
      right: 50px;
      float: right; 
  }
  .sp1:hover{
      -webkit-text-fill-color:blue;
  }
  
  .sp2{
      width: 100px;
      
      position: relative;
      top:-200px;
      right:50px;
      float:right;  
  
  }
  .sp2:hover{
      -webkit-text-fill-color:blue;
  }
  .returnhome{
      
      padding: 10px;
      width: 60px;
      height: 20px;
      position: relative;
      top:-185px;
      left: 250px;
      
  }
  .l1{
      border: solid;
      width: 40%;
      height: 60%;
      border-radius:20px;
      position: relative;
      top:0px;
      left:450px;
      background-image: url(https://e0.pxfuel.com/wallpapers/667/98/desktop-wallpaper-login-background-outlook-login.jpg);
  }
  